body
{
    background-color: black;
    margin:0px;
    padding:0px;
}


.heading
{
    background-image: url('heading.png');
}


.name
{
    color:white;
    font-style:italic;
    font-family:'Playwrite VN','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-shadow: 4px 10px 10px rgb(2, 147, 251);
    margin: 40px 0px 0px 60px;
}

.name:hover 
{
    text-shadow:4px 10px 10px rgba(241, 245, 9, 0.952);

}


.options
{
    display: flex;
    flex-flow:row nowrap;
    justify-content:right;
    
}


.home
{
    margin-left:300px;
}

.projects
{
    margin-right:100px;
}

div button
{   
    border-style:none;
    background-color:rgba(2, 0, 0, 0.982);
    border-radius: 20px;
    height:10px;
    width:100px;
    font-family:'Ranchers';
    color:white;
    font-size:32px;
    margin:0px 20px 40px 20px;
    font-style: italic;
}


div button:hover
{
    color:aquamarine;
}

.horizontalrule
{
    border-color: rgba(42, 89, 125, 0.874);
}
